Repository tchitrakorn/calendar-assistant: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.{js,jsx}": ["prettier --write", "eslint --fix"],
    "*.html": "prettier --write"
}

More unit tests, update README, and add test coverage (#22)
  .github/workflows/ci.yml
  .lintstagedrc.json
  .vscode/settings.json
  README.md
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/controllers/index.html
  coverage/lcov-report/controllers/itemControllers.js.html
  coverage/lcov-report/database/connect.js.html
  coverage/lcov-report/database/index.html
  coverage/lcov-report/database/queries.js.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/models/calendarModel.js.html
  coverage/lcov-report/models/dataModel.js.html
  coverage/lcov-report/models/helpers.js.html
  coverage/lcov-report/models/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/server/auth.js.html
  coverage/lcov-report/server/index.html
  coverage/lcov-report/server/server.js.html
  coverage/lcov-report/server/validation.js.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  package.json
  src/test/calendarModel.test.js
  src/test/dataModel.test.js
  src/test/helpers.test.js
Due: prettier --write, eslint --fix

add unit test
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/connect.js.html
  coverage/lcov-report/controllers/index.html
  coverage/lcov-report/controllers/itemControllers.js.html
  coverage/lcov-report/database/index.html
  coverage/lcov-report/database/queries.js.html
  coverage/lcov-report/helpers.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/models/calendarModel.js.html
  coverage/lcov-report/models/dataModel.js.html
  coverage/lcov-report/models/helpers.js.html
  coverage/lcov-report/models/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/server/auth.js.html
  coverage/lcov-report/server/index.html
  coverage/lcov-report/server/validation.js.html
  coverage/lcov.info
  src/models/calendarModel.js
  src/test/calendarModel.test.js
  src/test/connect.test.js
  src/test/helpers.test.js
Due: prettier --write, eslint --fix

add comment explaining why tests are not included in CI
  .github/workflows/ci.yml
  coverage/clover.xml
  coverage/lcov-report/controllers/index.html
  coverage/lcov-report/controllers/itemControllers.js.html
  coverage/lcov-report/database/connect.js.html
  coverage/lcov-report/database/index.html
  coverage/lcov-report/database/queries.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/models/calendarModel.js.html
  coverage/lcov-report/models/dataModel.js.html
  coverage/lcov-report/models/helpers.js.html
  coverage/lcov-report/models/index.html
  coverage/lcov-report/server/auth.js.html
  coverage/lcov-report/server/index.html
  coverage/lcov-report/server/server.js.html
  coverage/lcov-report/server/validation.js.html
Due: prettier --write

style fix
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/prettify.css
Due: none

More unit tests (#23)
  .github/workflows/ci.yml
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/connect.js.html
  coverage/lcov-report/controllers/index.html
  coverage/lcov-report/controllers/itemControllers.js.html
  coverage/lcov-report/database/index.html
  coverage/lcov-report/database/queries.js.html
  coverage/lcov-report/helpers.js.html
  coverage/lcov-report/index.html
  coverage/lcov-report/models/calendarModel.js.html
  coverage/lcov-report/models/dataModel.js.html
  coverage/lcov-report/models/helpers.js.html
  coverage/lcov-report/models/index.html
  coverage/lcov-report/server/auth.js.html
  coverage/lcov-report/server/index.html
  coverage/lcov-report/server/validation.js.html
  coverage/lcov.info
  src/models/calendarModel.js
  src/test/calendarModel.test.js
  src/test/connect.test.js
  src/test/helpers.test.js
Due: prettier --write, eslint --fix

update readme
  README.md
Due: none

Removed iCalID from manage/create response
  src/models/helpers.js
Due: prettier --write, eslint --fix
